.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Paper {
  margin: 6px;

  display: inline-block;
  flex: 1;

}

.FloatingActionButton {
  margin: 0px;
  top: auto;
  right: 50px;
  bottom: 40px;
  position: fixed;
}