body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.flex-container {
   display: flex;
    height: 100%;
    flex-direction: column;
 }

h2{
    color: gray;
    font-weight: normal;

}
h3{
    color: gray;
    font-weight: normal;
}
h4{
    color: gray;
    font-weight: normal
}

#arrowAnim {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 5px;
    height: 5px;
    border: 3px solid;
    border-color: black transparent transparent black;
    transform: rotate(-45deg);
}


.arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(15px); }
    20% { opacity:1; transform: translateX(9px); }
    80% { opacity:1; transform: translateX(-9px); }
    100% { opacity:0; transform: translateX(-15px); }
}
@keyframes slide {
    0% { opacity:0; transform: translateX(15px); }
    20% { opacity:1; transform: translateX(9px); }
    80% { opacity:1; transform: translateX(-9px); }
    100% { opacity:0; transform: translateX(-15px); }
}




